-- Buat database jika belum ada
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'InventoryManagement')
CREATE DATABASE InventoryManagement;
GO

USE InventoryManagement;
GO

-- Buat schema dbo jika belum ada
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = 'dbo')
BEGIN
EXEC('CREATE SCHEMA dbo')
END
GO


CREATE TABLE InventoryManagement.dbo.ItemMaster (
                                                    ItemID int IDENTITY(1,1) NOT NULL,
                                                    ItemCode nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
                                                    ItemName nvarchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
                                                    ItemType nvarchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
                                                    Unit nvarchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
                                                    Description ntext COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
                                                    CreatedAt datetime2 DEFAULT getdate() NULL,
                                                    CONSTRAINT PK__ItemMast__727E83EBEA8DFA7D PRIMARY KEY (ItemID),
                                                    CONSTRAINT UQ__ItemMast__3ECC0FEA765681EE UNIQUE (ItemCode)
);
ALTER TABLE InventoryManagement.dbo.ItemMaster WITH NOCHECK ADD CONSTRAINT CK__ItemMaste__ItemT__3E52440B CHECK (([ItemType]='FinishedGoods' OR [ItemType]='RawMaterial'));


-- InventoryManagement.dbo.Suppliers definition

-- Drop table

-- DROP TABLE InventoryManagement.dbo.Suppliers;

CREATE TABLE InventoryManagement.dbo.Suppliers (
                                                   SupplierID int IDENTITY(1,1) NOT NULL,
                                                   SupplierName nvarchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
                                                   ContactPerson nvarchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
                                                   Phone nvarchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
                                                   Address ntext COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
                                                   CONSTRAINT PK__Supplier__4BE666945C2C881C PRIMARY KEY (SupplierID)
);


-- InventoryManagement.dbo.Users definition

-- Drop table

-- DROP TABLE InventoryManagement.dbo.Users;

CREATE TABLE InventoryManagement.dbo.Users (
                                               UserID int IDENTITY(1,1) NOT NULL,
                                               Username nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
                                               Password nvarchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
                                               FullName nvarchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
    [Role] nvarchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
    IsActive bit DEFAULT 1 NULL,
    CreatedAt datetime2 DEFAULT getdate() NULL,
    CONSTRAINT PK__Users__1788CCAC6F8F1B48 PRIMARY KEY (UserID),
    CONSTRAINT UQ__Users__536C85E40EC61B1E UNIQUE (Username)
    );
ALTER TABLE InventoryManagement.dbo.Users WITH NOCHECK ADD CONSTRAINT CK__Users__Role__38996AB5 CHECK (([Role]='Staff' OR [Role]='Admin'));


-- InventoryManagement.dbo.sysdiagrams definition

-- Drop table

-- DROP TABLE InventoryManagement.dbo.sysdiagrams;

CREATE TABLE InventoryManagement.dbo.sysdiagrams (
                                                     name sysname COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
                                                     principal_id int NOT NULL,
                                                     diagram_id int IDENTITY(1,1) NOT NULL,
                                                     version int NULL,
                                                     definition varbinary(MAX) NULL,
                                                     CONSTRAINT PK__sysdiagr__C2B05B61B7CFBCB1 PRIMARY KEY (diagram_id),
                                                     CONSTRAINT UK_principal_name UNIQUE (principal_id,name)
);


-- InventoryManagement.dbo.BillOfMaterials definition

-- Drop table

-- DROP TABLE InventoryManagement.dbo.BillOfMaterials;

CREATE TABLE InventoryManagement.dbo.BillOfMaterials (
                                                         BOMID int IDENTITY(1,1) NOT NULL,
                                                         FinishedGoodID int NOT NULL,
                                                         RawMaterialID int NOT NULL,
                                                         QuantityRequired decimal(10,3) NOT NULL,
                                                         Unit nvarchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
                                                         CONSTRAINT PK__BillOfMa__CA12FCBBF6F3436F PRIMARY KEY (BOMID),
                                                         CONSTRAINT FK__BillOfMat__Finis__6D0D32F4 FOREIGN KEY (FinishedGoodID) REFERENCES InventoryManagement.dbo.ItemMaster(ItemID),
                                                         CONSTRAINT FK__BillOfMat__RawMa__6E01572D FOREIGN KEY (RawMaterialID) REFERENCES InventoryManagement.dbo.ItemMaster(ItemID)
);


-- InventoryManagement.dbo.Inventory definition

-- Drop table

-- DROP TABLE InventoryManagement.dbo.Inventory;

CREATE TABLE InventoryManagement.dbo.Inventory (
                                                   InventoryId int IDENTITY(1,1) NOT NULL,
                                                   Quantity decimal(18,0) NULL,
                                                   ItemId int NULL,
                                                   UnitCost decimal(18,0) NULL,
                                                   BatchNumber varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
                                                   DateIn datetime NULL,
                                                   UpdateAt datetime NULL,
                                                   CONSTRAINT PK_Inventory PRIMARY KEY (InventoryId),
                                                   CONSTRAINT FK_Inventory_ItemMaster FOREIGN KEY (ItemId) REFERENCES InventoryManagement.dbo.ItemMaster(ItemID)
);


-- InventoryManagement.dbo.InventoryIn definition

-- Drop table

-- DROP TABLE InventoryManagement.dbo.InventoryIn;

CREATE TABLE InventoryManagement.dbo.InventoryIn (
                                                     InventoryInID int IDENTITY(1,1) NOT NULL,
                                                     CreatedAt datetime NULL,
                                                     SourceType nvarchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
                                                     ItemId int NULL,
                                                     UnitCost decimal(18,0) NULL,
                                                     TotalAmount decimal(18,0) NULL,
                                                     ReferenceNo nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
                                                     Quantity decimal(18,0) NULL,
                                                     UserID int NOT NULL,
                                                     CONSTRAINT PK__Inventor__BDF1FDD010263427 PRIMARY KEY (InventoryInID),
                                                     CONSTRAINT FK_InventoryIn_ItemMaster FOREIGN KEY (ItemId) REFERENCES InventoryManagement.dbo.ItemMaster(ItemID),
                                                     CONSTRAINT FK__Inventory__UserI__5441852A FOREIGN KEY (UserID) REFERENCES InventoryManagement.dbo.Users(UserID)
);
ALTER TABLE InventoryManagement.dbo.InventoryIn WITH NOCHECK ADD CONSTRAINT CK__Inventory__Sourc__52593CB8 CHECK (([SourceType]='Production' OR [SourceType]='Purchasing'));


-- InventoryManagement.dbo.InventoryOut definition

-- Drop table

-- DROP TABLE InventoryManagement.dbo.InventoryOut;

CREATE TABLE InventoryManagement.dbo.InventoryOut (
                                                      InventoryOutID int IDENTITY(1,1) NOT NULL,
                                                      InventoryId int NULL,
                                                      UnitCost decimal(18,0) NULL,
                                                      QuantityUsed decimal(18,0) NOT NULL,
                                                      DateOut datetime2 NOT NULL,
                                                      DestinationType nvarchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
                                                      ReferenceNo nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
                                                      UserID int NOT NULL,
                                                      CONSTRAINT PK__Inventor__87D08304BD80DAD8 PRIMARY KEY (InventoryOutID),
                                                      CONSTRAINT FK_InventoryOut_Inventory FOREIGN KEY (InventoryId) REFERENCES InventoryManagement.dbo.Inventory(InventoryId),
                                                      CONSTRAINT FK__Inventory__UserI__59063A47 FOREIGN KEY (UserID) REFERENCES InventoryManagement.dbo.Users(UserID)
);
ALTER TABLE InventoryManagement.dbo.InventoryOut WITH NOCHECK ADD CONSTRAINT CK__Inventory__Desti__571DF1D5 CHECK (([DestinationType]='Delivery' OR [DestinationType]='Production'));


-- InventoryManagement.dbo.Production definition

-- Drop table

-- DROP TABLE InventoryManagement.dbo.Production;

CREATE TABLE InventoryManagement.dbo.Production (
                                                    ProductionID int IDENTITY(1,1) NOT NULL,
                                                    ProductionDate datetime2 NOT NULL,
                                                    ProductItemID int NOT NULL,
                                                    QuantityProduced decimal(18,0) NOT NULL,
                                                    ReferenceNo nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
                                                    UserID int NOT NULL,
                                                    CONSTRAINT PK__Producti__D5D9A2F542F4CCA2 PRIMARY KEY (ProductionID),
                                                    CONSTRAINT FK__Productio__Produ__656C112C FOREIGN KEY (ProductItemID) REFERENCES InventoryManagement.dbo.ItemMaster(ItemID),
                                                    CONSTRAINT FK__Productio__UserI__66603565 FOREIGN KEY (UserID) REFERENCES InventoryManagement.dbo.Users(UserID)
);


-- InventoryManagement.dbo.ProductionMaterialUsage definition

-- Drop table

-- DROP TABLE InventoryManagement.dbo.ProductionMaterialUsage;

CREATE TABLE InventoryManagement.dbo.ProductionMaterialUsage (
                                                                 UsageID int IDENTITY(1,1) NOT NULL,
                                                                 ProductionID int NOT NULL,
                                                                 RawMaterialItemID int NOT NULL,
                                                                 QuantityUsed decimal(18,0) NOT NULL,
                                                                 CONSTRAINT PK__Producti__29B197C0FCE82623 PRIMARY KEY (UsageID),
                                                                 CONSTRAINT FK__Productio__Produ__693CA210 FOREIGN KEY (ProductionID) REFERENCES InventoryManagement.dbo.Production(ProductionID),
                                                                 CONSTRAINT FK__Productio__RawMa__6A30C649 FOREIGN KEY (RawMaterialItemID) REFERENCES InventoryManagement.dbo.ItemMaster(ItemID)
);


-- InventoryManagement.dbo.PurchaseOrders definition

-- Drop table

-- DROP TABLE InventoryManagement.dbo.PurchaseOrders;

CREATE TABLE InventoryManagement.dbo.PurchaseOrders (
                                                        PurchaseOrderID int IDENTITY(1,1) NOT NULL,
                                                        PONumber nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
                                                        SupplierID int NOT NULL,
                                                        UserID int NOT NULL,
                                                        PODate date NOT NULL,
                                                        Status nvarchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT 'Pending' NULL,
                                                        TotalAmount decimal(18,2) DEFAULT 0 NULL,
                                                        CreatedAt datetime2 DEFAULT getdate() NULL,
                                                        CONSTRAINT PK__Purchase__036BAC44B8C7C702 PRIMARY KEY (PurchaseOrderID),
                                                        CONSTRAINT UQ__Purchase__69B9A841FAF10F5D UNIQUE (PONumber),
                                                        CONSTRAINT FK__PurchaseO__Suppl__4AB81AF0 FOREIGN KEY (SupplierID) REFERENCES InventoryManagement.dbo.Suppliers(SupplierID),
                                                        CONSTRAINT FK__PurchaseO__UserI__4BAC3F29 FOREIGN KEY (UserID) REFERENCES InventoryManagement.dbo.Users(UserID)
);
ALTER TABLE InventoryManagement.dbo.PurchaseOrders WITH NOCHECK ADD CONSTRAINT CK__PurchaseO__Statu__46E78A0C CHECK (([Status]='Cancelled' OR [Status]='Received' OR [Status]='Pending'));


-- InventoryManagement.dbo.RequestOrders definition

-- Drop table

-- DROP TABLE InventoryManagement.dbo.RequestOrders;

CREATE TABLE InventoryManagement.dbo.RequestOrders (
                                                       RequestID int IDENTITY(1,1) NOT NULL,
                                                       RequestNumber nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
                                                       RequestDate datetime2 NOT NULL,
                                                       CustomerName nvarchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
                                                       CustomerPhone nvarchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
                                                       Status nvarchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT 'Pending' NULL,
                                                       UserID int NOT NULL,
                                                       Quantity decimal(18,0) DEFAULT 0 NOT NULL,
                                                       ItemId int NULL,
                                                       CONSTRAINT PK__RequestO__33A8519A40804E10 PRIMARY KEY (RequestID),
                                                       CONSTRAINT UQ__RequestO__9ADA6BE0268D8A00 UNIQUE (RequestNumber),
                                                       CONSTRAINT FK_RequestOrders_ItemMaster FOREIGN KEY (ItemId) REFERENCES InventoryManagement.dbo.ItemMaster(ItemID),
                                                       CONSTRAINT FK__RequestOr__UserI__5EBF139D FOREIGN KEY (UserID) REFERENCES InventoryManagement.dbo.Users(UserID)
);
ALTER TABLE InventoryManagement.dbo.RequestOrders WITH NOCHECK ADD CONSTRAINT CK__RequestOr__Statu__5CD6CB2B CHECK (([Status]='Completed' OR [Status]='InProduction' OR [Status]='Pending'));


-- InventoryManagement.dbo.Deliveries definition

-- Drop table

-- DROP TABLE InventoryManagement.dbo.Deliveries;

CREATE TABLE InventoryManagement.dbo.Deliveries (
                                                    DeliveryID int IDENTITY(1,1) NOT NULL,
                                                    DeliveryNumber nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
                                                    RequestID int NOT NULL,
                                                    DeliveryDate date NOT NULL,
                                                    DeliveryStatus nvarchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS DEFAULT 'Pending' NULL,
                                                    UserID int NOT NULL,
                                                    CONSTRAINT PK__Deliveri__626D8FEE38785290 PRIMARY KEY (DeliveryID),
                                                    CONSTRAINT UQ__Deliveri__CB28B4375A11FFBA UNIQUE (DeliveryNumber),
                                                    CONSTRAINT FK__Deliverie__Reque__73BA3083 FOREIGN KEY (RequestID) REFERENCES InventoryManagement.dbo.RequestOrders(RequestID),
                                                    CONSTRAINT FK__Deliverie__UserI__74AE54BC FOREIGN KEY (UserID) REFERENCES InventoryManagement.dbo.Users(UserID)
);
ALTER TABLE InventoryManagement.dbo.Deliveries WITH NOCHECK ADD CONSTRAINT CK__Deliverie__Deliv__71D1E811 CHECK (([DeliveryStatus]='Delivered' OR [DeliveryStatus]='Pending'));


-- InventoryManagement.dbo.PurchaseOrderDetails definition

-- Drop table

-- DROP TABLE InventoryManagement.dbo.PurchaseOrderDetails;

CREATE TABLE InventoryManagement.dbo.PurchaseOrderDetails (
                                                              PODetailID int IDENTITY(1,1) NOT NULL,
                                                              PurchaseOrderID int NOT NULL,
                                                              ItemID int NOT NULL,
                                                              Quantity int NOT NULL,
                                                              UnitPrice decimal(18,2) NOT NULL,
                                                              CONSTRAINT PK__Purchase__4EB47B5E4AF4291D PRIMARY KEY (PODetailID),
                                                              CONSTRAINT FK__PurchaseO__ItemI__4F7CD00D FOREIGN KEY (ItemID) REFERENCES InventoryManagement.dbo.ItemMaster(ItemID),
                                                              CONSTRAINT FK__PurchaseO__Purch__4E88ABD4 FOREIGN KEY (PurchaseOrderID) REFERENCES InventoryManagement.dbo.PurchaseOrders(PurchaseOrderID)
);


-- InventoryManagement.dbo.RequestOrderDetails definition

-- Drop table

-- DROP TABLE InventoryManagement.dbo.RequestOrderDetails;

CREATE TABLE InventoryManagement.dbo.RequestOrderDetails (
                                                             RequestDetailID int IDENTITY(1,1) NOT NULL,
                                                             RequestID int NOT NULL,
                                                             ItemID int NOT NULL,
                                                             Quantity decimal(18,0) NOT NULL,
                                                             UnitPrice decimal(18,2) NOT NULL,
                                                             CONSTRAINT PK__RequestO__DC528B7040F4B0DB PRIMARY KEY (RequestDetailID),
                                                             CONSTRAINT FK__RequestOr__ItemI__628FA481 FOREIGN KEY (ItemID) REFERENCES InventoryManagement.dbo.ItemMaster(ItemID),
                                                             CONSTRAINT FK__RequestOr__Reque__619B8048 FOREIGN KEY (RequestID) REFERENCES InventoryManagement.dbo.RequestOrders(RequestID)
);